//返回按钮
.top-return-btn {
    height: .8rem;
    padding: .2rem 0;
    text-align: center;
    display: inline-block;
    img {
        height: 100%;
    }
}

//搜索框
.search-input {
    height: .8rem;
    display: inline-block;
    padding: .1rem;
    box-sizing: border-box;
    .search-input-wrap {
        height: 100%;
        padding: .1rem 0;
        background: #ddd;
        border-radius: .3rem;
        .icon {
            margin-left: .2rem;
        }
        input {
            background: #ddd;
            border: none;
            line-height: .4rem;
            height: .4rem;
            position: relative;
            top: -0.12rem;
            left: .1rem;
        }
    }
}

//搜索选择项tag
.search-tag-list {
    background: #fff;
    padding-bottom: .2rem;
    margin-bottom: .2rem;
    padding-left: 4%;
    .title {
        overflow: hidden;
        //padding: .2rem .4rem .2rem 0;
        border-bottom: 1px solid #eee;
        height: .74rem;
        line-height: .74rem;
        .item-trash {
            width: .4rem;
            height: .4rem;
            .icon {
                top: .04rem;
                right: .14rem;
            }
        }
    }
    .tag-list {
        display: flex;
        flex-flow: row wrap;
        .item {
            margin: .2rem .2rem 0 0;
            border: 1px solid #eee;
            padding: .12rem .16rem;
        }
    }
}

//主页顶部搜索框组件
.block-search {
    position: absolute;
    width: 100%;
    z-index: 200;
    height: 1rem;
    display: flex;
    flex-flow: row wrap;
    .item {
        float: left;
        padding: .1rem 3%;
        height: .9rem;
        line-height: .5rem;
        &>div {
            border-radius: .3rem;
        }
    }
    .position {
        width: 40%;
        white-space: nowrap;
        overflow: hidden;
    }
    .item-position {
        text-align: center;
        background: #000;
        opacity: .5;
        color: #fff;
        height: 100%;
        line-height: .74rem;
    }
    .search {
        width: 60%;
    }
    .search-extend {
        //width: 100%;
        text-align: center;
        background: #fff;
        .item-search {
            background: #999;
            color: #eee;
            a {
                color: #888;
            }
        }
    }
    .item-search {
        background: #fff;
        color: #888;
        padding-left: 6%;
        height: 100%;
        line-height: .74rem;
        a {
            display: inline-block;
            width: 100%;
        }
    }
    .item-search-full {
        background: #e4e5e6;
        color: #888;
    }
}

//筛选栏组件
#searchOption {
    .block-option {
        display: flex;
        border-bottom: 1px solid #eee;
        position: relative;
        width: 100%;
        z-index: 100;
        background: #fff;
        .active {
            font-weight: bold;
        }
        .item-option {
            flex: 1;
            text-align: center;
            height: .8rem;
            line-height: .8rem;
        }
    }
    //元素置顶
    .fixedTop {
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }
    .notFixedTop {
        position: relative;
        top: 0;
        z-index: 100;
        width: 100%;
    }
    .block-zh-rank {
        background: #fff;
        position: absolute;
        width: 100%;
        top: .81rem;
        z-index: 101;
        .item-rank {
            height: .8rem;
            line-height: .8rem;
            padding: 0 6%;
            border-bottom: 1px solid #eee;
        }
    }
}

//tab组件
.hj-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ddd;
    .item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        line-height: .8rem;
        margin: 0 8%;
    }
    .active {
        border-bottom: 2px solid #27a1e5;
        color: #27a1e5;
    }
}

//shopList组件
.item-shop {
    padding: 3%;
    display: block;
    min-height: 1.5rem;
    border-bottom: 1px solid #eee;
    background: #fff;
    color: #515151;
    .item-inner {
        .img {
            border: 1px solid #eee;
            float: left;
            width: 30%;
            height: 1rem;
            text-align: center;
            img {
                height: 100%;
            }
        }
        .content {
            text-align: left;
            float: right;
            width: 70%;
            padding-left: 2%;
        }
    }
}